@font-face {
    font-family: irsans;
    src: url(../fonts/irsans.eot);
    src: local('irsans'), local('irsans'), url(../fonts/irsans.woff) format('irsans'), url(../fonts/irsans.ttf) format('truetype')
}
a, button, h1, h2, h3, h4, h5, h6, input, li, p, span, strong, textarea,div, ul,time {
    font-family: 'irsans' !important;
}
textarea{overflow-x: hidden;}
body {
    overflow-x:hidden;
    background: #f5f5f5
}
.col-md-1, .col-md-10, .col-md-11, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
    text-align: right;
    direction: rtl
}
a {
    color: #f5f5f5
}

a:focus, a:hover {
    color: #8c8c8c
}

.logo {
    display: inline;
    float: right;
    width: 200px;
    padding: 2px 30px;
    z-index: 1000
}

.search {
    padding-left: 22px
}
.menu-container, .menu > ul {
    margin: 0 auto;
    width: 100%
}

.menu > ul > li a, a, a:focus, a:hover {
    text-decoration: none
}

.menu > ul, .menu > ul > li > ul, .menu > ul > li > ul > li > ul {
    list-style: none;
    box-sizing: border-box
}

.menu > ul:after, .menu > ul > li > ul:after, .menu > ul > li > ul > li > ul:after {
    clear: both
}

#custom-search-input .input-group, .menu > ul > li {
    direction: rtl;
    text-align: right
}


.menu-container {
    background: #0d1866;
    font-size: 16px;
    z-index: 1000
}

.menu-mobile {
    display: none;
    padding: 18px;
    height: 62px
}

.menu-mobile:after {
    content: "\f0c9";
    font-family: FontAwesome;
    font-size: 2.5rem;
    padding: 0;
    float: left;
    position: relative;
    color: #f5f5f5;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%)
}

.menu-dropdown-icon:before {
    content: "\f067";
    font-family: FontAwesome;
    display: none;
    cursor: pointer;
    float: left;
    padding: 1.5em 2em;
    color: #ccc
}

.menu > ul {
    padding: 0;
    position: relative
}

.menu > ul:after, .menu > ul:before {
    content: "";
    display: table
}

.menu > ul > li {
    float: right;
    background: #0d1866;
    padding: 0;
    margin: 0
}

.menu > ul > li a {
    padding: 1.2em 1.5em;
    display: block;
    color: #f5f5f5
}

.menu > ul > li > a:hover {
    background: #f0f0f0;
    color: #0d1866
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0
}

.menu > ul > li > ul:after, .menu > ul > li > ul:before {
    content: "";
    display: table
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: 0 0;
    float: right
}
.menu .sub{color: #0d1866 }
.menu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0
}

.menu > ul > li > ul > li > ul:after, .menu > ul > li > ul > li > ul:before {
    content: "";
    display: table
}

.menu > ul > li > ul > li > ul > li {
    float: right;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em
}

.menu > ul > li > ul > li > ul > li a {
    border: 0
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0
}

@media only screen and (max-width: 959px) {
    .menu-container, .menu > ul > li, .menu > ul > li a, .menu > ul > li > ul.normal-sub {
        width: 100%
    }

    .menu > ul > li > ul, .menu > ul > li > ul > li > ul {
        position: relative
    }

    .menu-dropdown-icon:before, .menu-mobile {
        display: block
    }

    .menu > ul {
        display: none
    }

    .menu .show-on-mobile, .menu > ul > li, .menu > ul > li a {
        display: block
    }

    .menu > ul > li {
        float: none
    }

    .menu > ul > li a {
        padding: 1.5em
    }

    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px
    }

    .menu > ul > li > ul > li:first-child {
        margin: 0
    }

    .menu > ul > li > ul > li > ul > li {
        float: none
    }
}

.search {
    z-index: 20;
    position: relative;
    top: -47px
}

#custom-search-input {
    padding: 0;
    border: 1px solid #E4E4E4;
    border-radius: 0
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    color: #f5f5f5;
    height: 30px
}

#custom-search-input button {
    margin: 2px 0 0;
    background: 0 0;
    box-shadow: none;
    border: 0;
    color: #f5f5f5;
    padding: 0 8px 0 10px
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none
}

#custom-search-input .fa-search {
    font-size: 22px
}

.section-box-ten {
    background: radial-gradient(#6e6e6e, #2f2f2f);
    background: -webkit-radial-gradient(#6e6e6e, #2f2f2f);
    background: -moz-radial-gradient(#6e6e6e, #2f2f2f);
    color: #fff;
    position: relative;
    overflow: hidden
}

.section-box-ten figure {
    position: absolute;
    text-align: right;
    padding: 5px 19px 19px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .71);
    bottom: -82%;
    transition: ease-in-out .5s
}

.box-news .title, .box-title {
    background-color: #fff;
    text-align: right;
    color: #0d1866;
    direction: rtl
}

.section-box-ten:hover figure {
    bottom: 0
}

.section-box-ten figure h4, .section-box-ten figure h6 {
    margin: 0;
    padding-bottom: 20px
}

.section-box-ten img {
    height: 100%
}

@media screen and (min-width: 959px) {
    .box-list .section-box-ten img {
        height: 220px
    }
    .section-box-ten figure h4 {
        padding-top: 20px;
        margin: 0;
        padding-bottom: 20px
    }

    .center-block .section-box-ten img {
        height: 440px
    }

    .block-left .section-box-ten img, .product .section-box-ten img {
        height: 218px
    }

    .box-in img {
        height: 70px
    }
}

.box-title {
    margin: 5px 0;
    padding: 5px 15px
}

.box-title h4 {
    display: inline;
    padding-right: 10px;
    color: #0d1866
}

.box-news .title {
    margin: 10px 0;
    padding: 10px 15px
}

.box-news .title h4 {
    display: inline;
    padding-right: 10px
}

.box-in {
    padding: 10px 0
}

.box-in .col-md-4 {
    padding: 2px
}

.box-in .text {
    text-align: center;
    padding-top: 5px
}

.box-in .text p {
    color: #8a8a8a
}

.box .title, .snip1581 {
    position: relative;
    color: #fff
}

.box {
    float: right
}
@media screen and (min-width: 759px){
    .box img{height: 230px}
}

.box .title {
    top: -5px;
    background-color: #686868;
    padding: 2px;
    text-align: center;
    margin-bottom: 5px;
    height: 50px
}

.snip1581 {
    font-family: 'Poppins:400,700', Arial, sans-serif;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    background-color: #000;
    text-align: right;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15)
}

.snip1581 * {
    -webkit-transition: all .35s;
    transition: all .35s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.snip1581 img {
    width: 100%;
    vertical-align: top
}

.snip1581 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .8) 0, transparent 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0, transparent 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.snip1581.hover img, .snip1581:hover img {
    -webkit-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg)
}

.footer {
    background-color: #3d3d3d;
    margin-top: 10px
}

.footer h4 {
    color: #74dbfd;
    margin-top: 20px
}

.footer p, .footer_end {
    color: #f5f5f5
}

.footer .section p {
    padding-right: 25px
}

.footer i {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px
}

.footer_end {
    background-color: #2c2b2b;
    direction: rtl
}

.inner-page.box-title {
    padding-top: 10px;
    padding-bottom: 10px
}
.inner-page.box-title h1{font-size: 20px; margin:10px 15px}

@media screen and (min-width: 959px) {
    .snip1581 img {
        height: 220px
    }

    .inner-page {
        margin-top: -20px
    }
}

.des-box {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px
}

.carousel-indicators li, .carousel-indicators li.active {
    border-color: #0d1866;
    background-color: #0d1866
}

.btns {
    margin-top: 8px
}

.btn {
    border-radius: 0;
    margin: 1px
}

.btn-primary {
    font-size: 16px;
    background-color: #027eb4;
    border-color: #027eb4
}

.btn-primary:hover, .btns .btn-primary:focus {
    background-color: #fff;
    border-color: #027eb4;
    color: #027eb4
}

.btn-info {
    font-size: 16px;
    background-color: #0e95cf;
    border-color: #0e95cf
}

.btn-info:hover, .btns .btn-info:focus {
    background-color: #fff;
    border-color: #0e95cf;
    color: #0e95cf
}

.btn-danger {
    font-size: 16px;
    background-color: #e93f1c;
    border-color: #e93f1c
}

.btn-danger:hover, .btns .btn-danger:focus {
    background-color: #fff;
    border-color: #e93f1c;
    color: #e93f1c
}

.panel-group .head {
    border-radius: 0;
    border-top: 2px solid #447796
}

.panel-group .head > .panel-heading {
    background-color: #fff;
    color: #4ca1ca
}

.panel-group .panel-collapse .panel-body {
    color: #5e5e5e;
    font-family: Mj_SS Three
}

.panel-des {
    padding: 0
}

@media screen and (min-width: 959px) {
    .panel-des {
        margin-top: 20px
    }
}

@media screen and (max-width: 959px) {
    .slidey-image.col-md-10 {
        width: 100%
    }

    .panel-des {
        margin-top: 100px
    }
}

.form-control::-moz-placeholder {
    color: #ccc
}

.search .form-control::-moz-placeholder {
    color: #f5f5f5
}

.comment-list .row {
    margin-bottom: 0
}

.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border: none;
    border-top-right-radius: 0;
    top: 1px
}

.comment-list .panel .panel-heading.right {
    border-right-width: 0;
    border-top-left-radius: 0;
    right: 16px
}

.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px
}

.comment-list figcaption {
    word-wrap: break-word
}

@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent
    }

    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0
    }

    .comment-list .panel.arrow.left:before {
        left: 0;
        top: 30px;
        border-right-color: inherit;
        border-width: 16px
    }

    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        border-right-color: #FFF;
        border-width: 15px
    }

    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        border-left-color: inherit;
        border-width: 16px
    }

    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        border-left-color: #FFF;
        border-width: 15px
    }
}

.comment-list .comment-post {
    margin-top: 6px
}

.comment-list .btn {
    border-color: #0d1866;
    color: #0d1866
}

.comment-list .btn:hover, .comment-list .panel-heading {
    background-color: #0d1866;
    color: #fff
}

.comment-list .panel-heading {
    left: 16px;
    margin-top: -1px
}

.message {
    padding: 0
}

.message h4 {
    color: #0d1866
}

.message .email {
    padding-right: 0
}

.message button {
    width: 140px
}

.box-list {
    margin-bottom: 5px;
    margin-top: 5px
}

.box-list .section-box-ten figure h6 {
    font-size: 12px
}
.slider .carousel.slide{margin-top: 31px; top: -25px; margin-bottom: -20px}
@media screen and (min-width: 759px) {
    .box-list img {
        height: 180px
    }
    .slider .carousel.slide{ top: -25px; margin-bottom: -20px}
}
.carousel-inner > .item > img{ width: 100%}
.carousel-control .fa{margin-top:80%; }
.carousel-indicators{bottom: 5px}
.carousel-inner .item .carousel-caption {margin-bottom: -20px; background-color: rgba(0, 0, 0, .71);padding: 5px 20px ;text-align: right;left: 0;right: 0 }
